@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap");

* {
	margin: 0px;
	box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html{
  height: 100%;
}

body {
  min-height: 30vh;
	font-family: 'Poppins', sans-serif;
}
button {
	font-family: 'Poppins', sans-serif;
}

.topnavbar {
	display: flex;
	width: 90%;
	height: 10vh;
	margin: auto;
	align-items: center;
  background-color: transparent !important;
}


@keyframes drop {
	0% {
		opacity: 0;
		transform: translateY(-80px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}

@media screen and (max-width: 1024px) {
	.presentation {
		flex-direction: column;
	}
	.introduction {
		margin-top: 5vh;
		text-align: center;
	}
	.intro-text h1 {
		font-size: 30px;
	}
	.intro-text p {
		font-size: 18px;
	}
	.cta {
		padding: 10px 0px 0px 0px;
	}
}

.form-control{
  margin-bottom: 20px;
}

.error{
  color: red;
}

.loginform{
  margin-bottom: 80px;
    margin-top: 70px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.registerform{
  margin-bottom: 80px;
    margin-top: 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}


:root {
    --input-padding-x: 30px;
    --input-padding-y: 18px;
  }
  
  .login,
  .image {
    min-height: 70vh;
  }
  
  .bg-image {
    /* background-image: url('./assets/login.jpg'); */
    background-size: cover;
    background-position: center center;
  }
  
  .form-heading {
      margin: 40px;
    font-weight: 300;
  }
  
  .btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
    border-radius: 2rem;
  }
  
  .form-label-group {
    position: relative;
    margin-bottom: 1rem;
  }
  
  .form-label-group>input,
  .form-label-group>label {
    padding: var(--input-padding-y) var(--input-padding-x);
    height: auto;
    width: 100%;
    /* border-radius: 2rem; */
  }
  
  .form-label-group>label {
    position: absolute;
    top: 0px;
    left: 6px;
    display: block;
    /* width: 100%; */
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    cursor: text;
    /* Match the input under the label */
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
  }
  
  .form-label-group input::-webkit-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input:-ms-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input::-ms-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input::-moz-placeholder {
    color: transparent;
  }
  
  .form-label-group input::placeholder {
    color: transparent;
  }
  
  .form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
  }
  
  .form-label-group input:not(:placeholder-shown)~label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
  }
  
  
  .registerprompt{
      margin-top: 70px;
      text-align: center;
  }

  .content {
    margin-left: 78px;
    margin-bottom: 75px;
    box-shadow: 1px 2px 16px 4px #888888;
    width: 455px !important;
    align-content: center;
    padding: 25px;
}

.logo {
    width: 6rem;
}

.img-thumbnail{
  background-color: none !important;
  border: none !important;
    margin-left: 70px;
    width: 70%;
    height: 70% !important;
}

.product-name {
    font-size: 2rem;
    font-weight: 800;
    margin-top: 3rem;
}

.product-type {
    color: #938784;
}

.price-and-buy {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.price {
  margin-top: 10px;
    font-size: 1.6rem;
    font-weight: bold;
}

.buy-btn {
    border: none;
    cursor: pointer;
    padding: 1rem 2rem;
    background-color: #ffdc23;
    color: #5f2c4a;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 0.5rem;
    box-shadow: 0px 4px 10px 0px rgba(236, 199, 5);
    transition: box-shadow 0.2s ease-in-out;
}

.buy-btn:hover {
    box-shadow: 0px 2px 8px 0px rgba(236, 199, 5);
}

.row{
  justify-content: center;
}

.title{
  width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.maincontainer{
  margin-top: 70px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  margin-top: 70px;
}


.d-block{
  margin-left: auto;
  margin-right: auto;
  max-height: 60%;
  max-width: 60%;
}

.jumbotron{
  height: 45%;
}


.navbar-nav{
  margin-left: 40px;
  gap: 30px ;
}

.homecontainer{
  margin-top: 20px;
  width: 98%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
}
.slide{
  display: flex;
}

.carouselheading{
  margin: auto;
  padding:10px;
}

.footer{
  margin-top: 70px;
    padding: 54px;
}

.socials{
  margin-top: 30px;
}

.total{
  display: flex;
  grid-gap: 10%;
  padding: 20px;
  justify-content: flex-end;
  margin-right: 7%;
}

.amount{
  margin-top: 3px;
}
.checkout{
  text-align: center;
  min-height: 30vh;
  width: 80%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}
.billing{
  width: 50%;
  margin-left: auto;
  margin-top: 50px;
  margin-right: 8%;
}
.paymentdiv{
  margin-top: 50px;
  padding: 20px;
}
.paymentmethods{
  margin-top: 20px;
  padding: 20px;
  display: inline-flex;
  gap: 50px;
}

#payment{
  width: 250px;
  text-align-last:center;
}

.sectiontitle{
    width: fit-content;
    margin: 70px;

}


.navbar{
  position: fixed;

}

.profile-head {
  transform: translateY(5rem)
}

.cover {
  background-image: url(https://images.unsplash.com/photo-1530305408560-82d13781b33a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80);
  background-size: cover;
  background-repeat: no-repeat
}

.productimage{
  width: 90%;
  min-height: 365px;
}


.info{
  margin-left: auto;
    margin-right: auto;
  margin-top: auto;
    margin-bottom: auto;
    padding: 50px;
}

.categorycontent{
  margin-top: 90px;
    width: fit-content;
    display: flex;
    margin-left: auto;
    margin-right: auto;

}

.categoryrow{
  gap: 100px;
}

.admindashboard{
  gap: 55px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}